%h4.subheader Code for Los Angeles is the Los Angeles Code for America Brigade, a network of civic-minded technologists who contribute their skills toward using the web as a platform for local government and community service.
%h4.subheader We connect the people in government to local hackers to solve real problems! It's fulfilling work that will lead you to meet some incredible people.
